.u-hidden{
    display: none !important;
}

.u-text-stroke {
    -webkit-text-stroke: 1.75px var(--darkgray);
}

.big-text {
    font-size: 3.5rem;  
    line-height: 3.5rem; 
}

.medium-text {
    font-size: 2.5rem;
    line-height: 2.5rem;
}

.u-text-shadow {
    text-shadow:
    3px 3px 0 var(--darkgray),
  -1px -1px 0 var(--darkgray),  
   1px -1px 0 var(--darkgray),
   -1px 1px 0 var(--darkgray),
    1px 1px 0 var(--darkgray);
}

.small-text {
    font-size: 0.75rem;
}

a:link.u-highlighted-menu {
    -webkit-text-stroke: 1px white;
    font-size: 1.2rem;
    font-weight: bold;
    color: orange;
}

.u-transparent {
    opacity: 0;
}

.u-highlighted-text {
    font-weight: bold;
    text-decoration: underline;
}


.u-text-orange {
    color: orange;
}

.u-text-gray {
    color: gray;
}

.u-fixed-header {
    opacity: 1;
    top: 0;
}

/* scroll indicator */
.scroll-indicator {
    position: absolute;
    font-size: 1.25rem;
    right: 5vw;
    opacity: 0;
    /* @keyframes name | duration | easing-function | delay */
    animation: make-opaque linear 2.25s forwards, scroll-indicator-animation 1.5s infinite linear;
}

@keyframes make-opaque {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes scroll-indicator-animation {
    from {
        top: 70vh;
    }
    50% {
        top: 75vh
    }
    to {
        top: 70vh;
    }
}
