@import 'variables';

.snippet-small-screen {
    display: block;
    @media screen and (min-width: $medium-screen) {
        display: none;
    }

    &:hover {
        filter: drop-shadow(0.0 0 0.15rem black);
    }
}

.snippet-wide-screen {
    display: none;

    @media screen and (min-width: $medium-screen) {
        display: block;
    }

    &:hover {
        filter: drop-shadow(0.0 0 0.15rem black);
    }
}
